{% extends "base.html" %}

{% block title %}Arabian Red{% endblock %}

{% block content %}
<section class="section">
	<section class="container">
		<img src="{{ url_for('static', filename='assets/foxes/ArabianRed.jpg') }}" alt="Arabian Red Fox">
		<section class="overlay">
			<section class="text">
				<h2>Arabian Red</h2>
				<h3>Vulpes Vulpes Arabica</h3>
			</section>
		</section>
	</section>

	<section class="info">
		<p>The Arabian red fox is similar in color to the common red fox. However, this fox is more adapted to desert life than its parent species, with its ears being much larger, and its body being much smaller than that of the red fox. The Arabian red fox also has fur between its toes, to prevent burning of the feet. It is brownish pale red in color and weighs approximately 2.7 kg (6.0 lb).</p>
		<p>This fox is a mostly solitary animal, but may form loosely-knit social groups of a few individuals. They are nomadic, temporarily occupying defined home ranges. Its diet consists of rodents, birds, and fish as well as some desert vegetation or even carrion. They are most active at night. The small foxes open the eyes after 10 days from birth. Arabian foxes live in various environments, including mountains, coasts, deserts, and cities.</p>
	</section>
</section>
{% endblock %}
