{% extends "base.html" %}

{% block title %}Fennec{% endblock %}

{% block content %}
<section class="section">
	<section class="container">
		<img src="{{ url_for('static', filename='assets/foxes/Fennec.jpg') }}" alt="Fennec Fox">
		<section class="overlay">
			<section class="text">
				<h2>Fennec Fox</h2>
				<h3>Vulpes Zerda</h3>
			</section>
		</section>
	</section>

	<section class="info">
		<p>The fennec fox is the smallest of all the world's foxes, but its large ears, measuring 6 inches, appear to be on loan from a bigger relative.</p>
    <p>Their distinctive, batlike ears radiate body heat and help keep the foxes cool. They also have long, thick hair that insulates them during cold nights and protects them from hot sun during the day. Even the fox's feet are hairy, which helps them perform like snowshoes and protects them from extremely hot sand. The fox's feet are also effective shovels for frequent digging—fennec foxes live in underground dens.</p>
	</section>
</section>
{% endblock %}
