@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
html {
  height: 100%;
  width: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  height: calc(100% - (4vh + 1%));
  padding: calc(2vh + 1%) calc(4vw + 2%);
  font-family: "Sona", sans-serif;
}

.header {
  padding: 1%;
  border-bottom: 0.1rem solid #000000;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .menu .menu-item {
  padding: 1%;
  font-size: 0.95rem;
  font-weight: 600;
  color: #000000;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  border-top: 0.1rem solid #ffffff;
}

.header .menu .menu-item:hover {
  border-top: 0.1rem solid #000000;
}

.header .menu .menu-item:active {
  border-top: 0.1rem solid #000000;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .index {
  margin-bottom: 2%;
  padding: 1%;
  font-size: 0.925rem;
  font-weight: 600;
  color: #000000;
  border-top: 0.1rem solid #ffffff;
  border-bottom: 0.1rem solid #000000;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.footer .index:hover {
  border-top: 0.1rem solid #000000;
}

.footer .index:active {
  border-top: 0.1rem solid #000000;
}

.footer .social {
  margin-bottom: 5%;
}

.footer .social svg {
  fill: #000000;
  width: 1.5rem;
  height: auto;
}

.intro {
  padding-left: calc(2vw + 5%);
  padding-right: calc(2vw + 5%);
}

.intro h1 {
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.intro h2 {
  margin-left: 5%;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
}

.fox-index {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fox-index .index-link {
  margin: 2% 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: 500;
  color: #000000;
  border-top: 0.1rem solid #ffffff;
  border-bottom: 0.1rem solid #000000;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.fox-index .index-link:hover {
  border-top: 0.1rem solid #000000;
}

.fox-index .index-link:active {
  border-top: 0.1rem solid #000000;
}

.container {
  margin-top: 2rem;
  padding-left: 2vw;
  padding-right: 2vw;
  position: relative;
}

.container:hover .overlay {
  opacity: 1;
}

.container img {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 40vw;
  height: auto;
}

.container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 70%;
  margin: auto;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-color: rgba(0, 0, 0, 0.1);
}

.container .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .text h2 {
  margin-bottom: 0;
  font-weight: 600;
  color: #ffffff;
}

.container .text h3 {
  margin-top: 0;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
}

.info {
  padding-left: calc(3vw + 5%);
  padding-right: calc(3vw + 5%);
  margin-top: 5%;
  font-size: 1rem;
  font-weight: 300;
}

.info p:nth-child(1) {
  margin-bottom: 2%;
}

.about {
  margin-top: 15vh;
  padding-left: calc(2vw + 2%);
  padding-right: calc(2vw + 2%);
}

.about h2 {
  font-weight: 300;
  font-size: 2rem;
}

.about h4 {
  font-weight: 400;
  padding-left: 10%;
}
/*# sourceMappingURL=main.css.map */